.wrapper {
    color: white;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
}

.imageItem {
    background-color: green;
    width: 200px;
    height: 150px;
}