html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #e1eaef;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 20px 60px 20px 60px;
    padding: 24px;
    background-color: white;
    flex: 1 1 auto;
    box-shadow: -1px 0px 5px 5px #c2dae5;
}

.title {
    font-family: 'Dancing Script', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    padding: 16px;
    margin: 24px;
    background-color: white;
    border-radius: 5px;
}

.index-navigation {
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    color: black;
    margin-right: 20px;
}

.index-nav-button {
    padding: 16px;
    background-color: white;
    transition: 1s;
}

.index-nav-button:hover {
    background-color: rgb(201, 201, 218);
}

.nav-button {
    margin-right: 8px;
}

button {
    cursor: pointer;
}

.facebook {

}

.social-connect > .nav-button > a > .facebook {
    cursor: default;
}

.social-connect {
    flex: 1 1 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer {
    background-color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.footer-item {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.footer-item > i {
    font-size: 24px;
    padding-right: 8px;

    filter: brightness(0.2);
}

.footer-row > :nth-child(4) {
    flex: 0 0 auto;
}

.item {
    display: flex;
    flex-direction: column;
}

.footer-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    justify-content: center;
}

.copy-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-right > img {
    padding-right: 12px;
    opacity: 0.5;
}
